# 依存パッケージ
node_modules/

# ビルド成果物
dist/
build/
out/

# 環境変数
.env
.env.local
.env.*.local
frontend/.env.development.local

# Rails
backend/config/master.key
backend/config/credentials/*.key

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user

# ログ
*.log
npm-debug.log*

# テスト
coverage/
